$baseUnit: 16px;

$black: #0B242E;

$clearBlue: #E5F6FD;
$brightBlue: #B2E6FA;
$lightBlue: #7FD6F7;
$blue: #00AEEF;
$darkBlue: #008BBF;

$textColor: #464646;
$linkColor: $blue;
$linkHoverColor: $darkBlue;

$gridGutterMobile: 16px;
$gridGutterTablet: 24px;

$mobile: "max-width: 480px";
$tablet: "min-width: 720px";
$desktop: "min-width: 1024px";
